# exclude
.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
data/*
cache/*
graphs/*
reports/*

# exceptions for the folders that I want to move empty
!data/.gitkeep
!cache/.gitkeep
!graphs/.gitkeep
!reports/.gitkeep
